* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */


/* fine common */

/* header */
#main-header {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 99;
}

/* fine header */

