* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */


/* fine common */

/* header */
#main-header {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 99;
}

#main-header nav {
    display: inline-block;
}

#main-haeder nav li {
    margin: 0 10px;
    display: inline-block;
    line-height: 70px;
}

#main-header nav li a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: white;
}

#main-header nav .logo img {
    vertical-align: middle;
    height: auto;
}

#main-header nav li:hover {
    border-bottom: 2px solid white;
}

/* fine header */

